.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  margin: 0 auto 51px;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 0 15px 0 15px;
  }
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
