.element__like-count {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin-right: 25px;
  color: #000000;
  width: 10px;
  height: 13px;
}
