.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
  padding-top: 45px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 400px) {
  .header {
    padding-top: 28px;
    margin-bottom: 42px;
    min-height: 56px;
  }
}
